.container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;

    div{
        position: absolute;
        padding: 16px;
        width: 100%;
        top: 25%;
    }

    h2{
        color: $primary;
        padding-bottom: 8px;
    }

    p{
        color: $hintTextColor;
    }

    a{
        color: $primary;
        display: inline-block;
        padding: $btnPadding;
        margin-top: 8px;
        border: 2px solid $borderColor;
        border-radius: $btnBorderRadius;
        transition: all $transitionSpeed $ease;

        &:hover{
            color: $white;
            background: $primary;
        }
    }
}